.slide-part
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     width: 98.8vw; 
    margin-bottom:10rem;
   /* margin-top: ; */

}
.content-team
{
    display: flex;
    width: 98.8vw;
    flex-direction: row;
    justify-content: space-around;
    /* border: 4px solid blue; */
    align-items: center;
   
    
}
/* .image-section-team,.write-section-team
{
    border: 4px solid red;
} */
.image-section-team
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section-team img
{
  width: 200px;
  height: 300px;
}

 .about-part-team
{  
    
    color: gray;
    font-weight: 700;
     font-size: 20px; 
  
} 
.imgtag32
{
    background-color: rgba(74, 196, 243, 1);
    border-radius: 40% 30% 30% 40%;
    width: 250px;
    height: 380px;
}
.social-icons
{
    display: flex;
    /* width: 60vw; */
    /* justify-content: space-around; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /* margin-top: -6rem; */
    
   
}

.social-icons i{
   
    font-size: 3rem;
    font-weight: 2rem;
   border: 1px solid black;
   border-radius: 2px;
   padding: .1rem;
}

.social-icons i:hover
{
    background-color: brown;
}

.social-icons .special-class
{
    margin-left: 2rem;
    margin-right: 2rem;
}

.three-slider
{
    display: none;
}



@media screen and (max-width: 500px) {
    .content-team
    {  

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        width: 98vw;

    }


    .three-slider
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10rem;
    }

    .slide-part
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .imgSlider
    {
        display: none;
        /* background-color: bro; */
        border: 5px sollid blue;
    }
 .image-section-team,.write-section-team
{
    width: 70vw;
    margin-bottom: 1rem;
}
   
    }

